/* lowercase mono heading font*/
h2.mono.lower{
    font-size:1.75em!important;
    text-transform: none;
    padding:1em;
  }
/* animated typing text*/
  .type-text {
  opacity:0;
  color:#0000;
  background:
  linear-gradient(-90deg,#000000 0px,#0000 0) 10px 0,
  linear-gradient(#000000 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
  b .0s infinite steps(1),  
  t calc(var(--n)*.055s) steps(var(--n)) forwards,
  o 0.5s;
  animation-fill-mode: forwards;
  animation-delay:4s;   
  }
  @keyframes t{
    from {background-size:0 200%;}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0;}
  }
  @keyframes o{
     0% {opacity:0}
  }
  @keyframes o{
    100% {opacity:1}
  }
  /*Checkpoint Question Card*/
  .card.small.cp{
    min-height:3.5em;
    }
    /*Checkpoint incorrect background color*/
  .cp-incorrect{
  background-color:var(--error);
  }
   /*Checkpoint correct background color*/
  .cp-correct{
    background-color:var(--success);
    }
   /*Checkpoint disabled repsonse*/
  .cp-disabled{
  pointer-events:none;
  }
  .static-img{
  display:block;
  height:100%;
  width:auto;
  max-width:100%;
  }
  .static-img.buttons{
    max-height:calc(100% - 64px);
    }
  .static-img > img{
    display:block;
    max-height:100%;
    max-width:100%;
    margin:auto;
    }
  .img-select{
  display:inline-block;
  height:64px;
  width:50%;
  padding:1em;
  }
  .img-select-container{
    display:flex;
    margin-top:1em;
    height:64px;
    width:calc(100% + 2em);
    transform:translateX(-1em);
    }
 .attr-modal{
 margin-top:4rem;
 padding-top:3em;
 width:50%;
 margin-left:50%;
 border:none;
 outline:0;
 height:calc(100% - 7rem);
 font-size:0.75em;
 overflow-y:auto;
 }
 .attr-modal-close{
 position:fixed;
 right:8px;
 top:4.5rem;
 width:32px;
 height:32px;
 background-image: url("data:image/svg+xml,%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m100 50c0 27.613-22.387 50-50 50s-50-22.387-50-50 22.387-50 50-50 50 22.387 50 50' fill='%230f1011'/%3E%3Cpath d='m33.688 66.312c0.25 0.25 0.56641 0.37891 0.88281 0.37891 0.31641 0 0.62891-0.125 0.88281-0.37891l14.547-14.551 14.547 14.547c0.25 0.25 0.56641 0.37891 0.88281 0.37891 0.31641 0 0.62891-0.125 0.88281-0.37891 0.50391-0.50391 0.50391-1.2578 0-1.7617l-14.551-14.547 14.547-14.547c0.50391-0.50391 0.50391-1.2578 0-1.7617s-1.2578-0.50391-1.7617 0l-14.547 14.547-14.547-14.551c-0.50391-0.50391-1.2578-0.50391-1.7617 0s-0.50391 1.2578 0 1.7617l14.547 14.551-14.551 14.547c-0.50391 0.50391-0.50391 1.2617 0 1.7656z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
 background-size:32px 32px;
 background-color:transparent;
 background-repeat:no-repeat;
 border:none;
 outline:0;
 cursor:pointer;
}
.attr-modal-close:hover{
opacity:0.8;
}
.tag{
display:inline-block;
}
.tag-attr{
  display:block;
  width:85%;
  height:48px;
  margin-bottom:8px;
  font-size:0.8em;
  z-index:1;
  position:relative;
  }
  .tag-attr.point::after{
    content: '';
    position: absolute;
    right: -3.5em;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid #000000;
    border-top: 20px solid transparent;
    transform: rotate(-45deg);
    clear: both;
  }
.column.third.attr-selector{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;
}
.column.third.attr-selector.hide{
  display: none;
}
.modal-wiki{
height:3rem;
width:50%;
position:fixed;
bottom:0;
right:0;
}
.card.small.btn.light.indicator::after{
content: url("data:image/svg+xml,%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' width='22.45833333' height='22.45833333' viewBox='0 0 22.45833333 22.45833333'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='m22.45833333,11.22916667c0,6.2016975-5.02746916,11.22916667-11.22916667,11.22916667S0,17.43086417,0,11.22916667,5.02746916,0,11.22916667,0s11.22916667,5.02746916,11.22916667,11.22916667Zm-3.48761994-3.68082682l-1.4140625-1.4140625-8.06884766,8.06884766-4.5859375-4.5859375-1.4140625,1.4140625,6,6,9.48291016-9.48291016Z'/%3E%3C/g%3E%3C/svg%3E");
width:24px;
height:24px;
display:block;
position:absolute;
bottom:4px;
right:4px;
}
  /* Media Queries*/
  @media only screen and (max-width: 768px){
    h2.mono.lower{
    font-size:1.35em!important;
    }
    [name="static-img"].column.larger {
    flex:1 0 35%;
    }
    .attr-modal{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    }
    .attr-modal-close{
    right:24px;
    }
    .modal-wiki{
    width:100%;
    }
    video.mobileopti{
    width:100vw;
    height:auto;
    }
    .column.fill.media-gray.vid{
    padding:0;
    }
    .column.third.attr-selector{
    width:100%;
    }
    .tag-attr.point::after{
    position: fixed;
    top: 35%;
    right: 50%;
    transform: rotate(45deg);
    border-left: 30px solid transparent;
    border-right: 30px solid #000000;
    border-top: 30px solid transparent;
    }
 }
    